* {margin: 0; padding: 0;}

#container {
	width: 1000px;
	overflow: hidden;
	margin: 50px auto;
	background: white;
}
/*header*/
header {
	width: 800px;
	margin: 40px auto;
}

header h1 {
	text-align: center;
	font: 100 60px/1.5 Helvetica, Verdana, sans-serif;

}

header p {
	font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
	text-align: justify;
}
 
/*photobanner*/

.photobanner {
	height: 233px;
	width: 3550px;
	margin-bottom: 80px;
    display: flex;
}
.content{
    padding: 0 20px;
}
.first{
    padding: 0 20px;
}

.first {
		 animation: moveInCircle 2s linear infinite;
}

@keyframes moveInCircle {
	0% {
	  transform: translateX(0) translateY(0);
	}
	100% {
	  transform: translateX(100px) translateY(0);
	}
  }

